php_value max_execution_time 0
php_value max_input_time 0
php_value memory_limit -1
php_value date.timezone "America/Los_Angeles"

order deny,allow
Allow from all

AuthType Basic
AuthName "contentdm"
AuthUserFile /path/to/.htpasswd
Require valid-user
DirectoryIndex index.php

RewriteEngine On
RewriteRule ^(.*/)?\.git+ - [F,L]
ErrorDocument 403 "Access Forbidden"

<FilesMatch "^(config\.xml|cdm-batch\.log)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>
