php_value max_execution_time 2000

RewriteEngine On
RewriteRule ^(.*/)?\.git+ - [F,L]
RewriteRule ^.*batch_files/$ - [F,L]
ErrorDocument 403 "Access Forbidden"

<FilesMatch "^(config\.xml|cdm-batch\.log)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

